<li class="dropdown-header"><h3>Introduction<h3></li>
  <li><a href="intro.html">Manual Structure</a></li>
  <li><a href="platform_overview.html">Platform Overview</a></li>
  <li><a href="requirements.html">What You'll Need</a></li>
  <li><a href="existing_packages.html">Current Packages</a></li>

<li class="dropdown-header"><h3>450K Analysis 101</h3></li>
  <li><a href="package_load.html">Install and Load Packages</a></li>
  <li><a href="data_import.html">Import Your Data</a></li>
  <li><a href="databases.html">Annotation Databases</a></li>

    <li class="dropdown-header"><h4>Filtering</h4></li>
      <li><a href="filtering_intro.html">Filtering Introduction</li>
        <li><a href="filtering_snp.html">SNPs</li>
        <li><a href="filtering_gender.html">Gender</li>
        <li><a href="filtering_probe_multimap.html">Probe Multimappers</li>

    <li class="dropdown-header"><h4>Differential Methylation - Probes</h4></li>
      <li><a href="dm_intro.html">Introduction to DM</li>
      <li><a href="dm_package_methods.html">Package Methods</li>
      <li><a href="dm_limma_experiments.html">Limma</li>

    <li class="dropdown-header"><h4>Differential Methylation - Ranges</h4></li>
      <li><a href="dmr_intro.html">Introduction to DMR</li>

<li role="presentation" class="divider"></li>
<li><a href="http://www.bsu.ncl.ac.uk">BSU</li>
